---
layout: default
---

<div class="home">
<h1>Développeur junior Ruby</h1><br /><br /><br />
  <div class="experience">
    <h1>Experience:</h1>
      {% include experiences.html %}
  </div>

  <div class="formation">
    <h1>Formation:</h1>
      {% include formations.html %}
  </div>


  <div class="photo">
    <img src="./valentin.jpg"/>
  </div>

  <div class="coordonée">
    <h2>Coordonée:</h2>
      Ville: La loupe, 28240<br />
      Tel: 06.77.70.50.28<br />
      Email: crasnier.val@gmail.com<br />

  </div>
  <div class="competence">
    <h2>Compétence:</h2>
      - Ruby<br />
      - Ruby-on-Rails<br />
      - Html<br />
      - Css<br />
      - Wordpress<br />
      - Bootstrap<br />
      - Intégration web responsive<br />
      - Methode agile (SCRUM)<br />
      - Git & Github<br />
      - Python<br />
      - Photoshop<br />
  </div>

  <div class="loisirs">
    <h2>Loisirs:</h2>
      - Sport:<br />
              * Vélo<br />
              * Musculation<br />
              * Course a pied<br />
              <br />
      - Jeux vidéo (Chaine Youtube = SeKiiO)<br />
      - Montage vidéo<br />
      - Cuisine<br />
  </div>
</div>
